<div class="container company justify-content-between padding">
  <div
    class="d-flex justify-content-between align-items-center flex-lg-nowrap flex-wrap"
  >
    <div class="ms-2 mb-3">
      <div class="sub-heading-small">
        Trusted by companies all over the world
      </div>
    </div>
    <div class="d-flex flex-nowrap">
      <img
        src="./../../assets/assets(svg)/New-Balance-Logo 1.svg"
        alt=""
        class="company-logo"
      />
      <img
        src="./../../assets/assets(svg)/lego.svg"
        alt=""
        class="company-logo"
      />
      <img
        src="./../../assets/assets(svg)/envision.svg"
        alt=""
        class="company-logo"
      />
      <img
        src="./../../assets/assets(svg)/vision.svg"
        alt=""
        class="company-logo"
      />
      <img
        src="./../../assets/assets(svg)/New-Balance-Logo 5.svg"
        alt=""
        class="company-logo"
      />
      <img
        src="./../../assets/assets(svg)/New-Balance-Logo 6.svg"
        alt=""
        class="company-logo"
      />
      <img
        src="./../../assets/assets(svg)/New-Balance-Logo 8.svg"
        alt=""
        class="company-logo"
      />
      <img
        src="./../../assets/assets(svg)/New-Balance-Logo 9.svg"
        alt=""
        class="company-logo"
      />
    </div>
  </div>
</div>
