.left-items {
  font-family: "Open Sans", Helvetica;
  color: #fcfcfc;
  width: 40%;
}

.sub-heading {
  font-size: 26px;
  color: #fefefe;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  margin-bottom: 24px;
}

.head-span {
  color: #fdba21;
}

.review-btn {
  text-decoration: none;
  color: #fefefe;
}

.btn-up {
  background-color: #fdba21;
  color: #fefefe;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.btn-up:hover {
  transform: scale(1.05);
  outline: 2px solid #fdba21;
  outline-offset: 2px;
}

.padding {
  padding: 30px 0 50px 0;
  margin-left: 100px;
  margin-right: 0;
}

.search-form {
  margin-top: 30px;
}

.intro {
  font-weight: 400;
  color: #dbd7d7;
  font-size: 16px;
  line-height: 25px;
}

.right-items {
  margin-top: -9px;
  height: 380px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innovation-img {
  height: 380px;
  width: auto;
}

@media screen and (max-width: 980px) {
  .about-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .left-items {
    width: 100%;
  }

  .sub-heading {
    font-size: 18px;
  }

  .info {
    font-size: 16px;
    width: 100%;
    line-height: 22px;
  }

  .padding {
    padding: 24px;
    margin: 0;
  }

  .innovation-img {
    height: 270px;
    width: auto;
  }
}
