<div class="container padding">
  <div class="row align-items-center justify-content-between">
    <div class="left-items">
      <h1 class="sub-heading">
        Nurturing Innovation <br />
        with Your <span class="head-span">Voice</span>.
      </h1>
      <div class="lead intro">
        Your voice is our inspiration, as we collaborate to transform businesses
        with your invaluable feedback. Join us in shaping a customer-centric
        world where dreams flourish and innovation thrives.
      </div>
      <form class="d-flex w-75 search-form" role="search">
        <button class="btn btn-up" type="submit">
          <a href="#" class="review-btn" appSmoothScroll="header">Review Now</a>
        </button>
      </form>
    </div>
    <div class="right-items text-center">
      <img
        src="./../../assets/assets(svg)/innovation section.svg"
        alt="Innovation"
        class="innovation-img"
      />
    </div>
  </div>
</div>
