<div class="container">
  <div class="sign-up-container d-flex justify-content-between">
    <div class="left-section d-flex flex-column align-items-center">
      <div class="left-section-top d-flex flex-column">
        <a href="" class="review-logo" routerLink="">
          <div class="review-text d-flex align-items-center">
            <div><img src="\assets\sign-up-images\Group.png" alt="" /></div>
            <div>
              <p id="review">Review<span id="nest">Nest</span></p>
            </div>
          </div>
        </a>
        <h2 id="hero-text">Welcome back to ReviewNest!</h2>
        <p id="hero-paragraph">
          Log in to your account and harness the power of customer feedback to
          drive your business forward. We're excited to have you back.
        </p>
      </div>
      <div class="left-section-bottom d-flex flex-column">
        <div class="rectangle-1 d-flex">
          <div class="profile-img">
            <img src="\assets\sign-up-images\Ellipse 4.png" alt="" />
          </div>
          <div
            class="thin-lines-1 d-flex flex-column justify-content-center align-items-start"
          >
            <div class="thin-line-1"></div>
            <div class="thin-line-2"></div>
          </div>
        </div>
        <div class="rectangle-2 d-flex flex-column">
          <div
            class="thin-lines-2 d-flex flex-column justify-content-center align-items-start"
          >
            <div class="thin-line-3"></div>
            <div class="thin-line-4"></div>
          </div>
          <div class="d-flex">
            <div class="profile-img">
              <img src="\assets\sign-up-images\profile-2.png" alt="" />
            </div>
            <div
              class="thin-lines-1 d-flex flex-column justify-content-center align-items-start"
            >
              <div class="thin-line-1"></div>
              <div class="thin-line-2"></div>
            </div>
            <div class="stars">
              <img src="\assets\sign-up-images\stars.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section d-flex flex-column">
      <div class="header-section">
        <h3 id="get-started">Get Started</h3>
        <p id="sign-up-text">Enter your details let’s get you signed up.</p>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="onUsersLogin(loginForm.value)">
        <div class="">
          <label for="email" class="form-label">Email address</label>
          <input
            #email="ngModel"
            name="pEmail"
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="johndoe@email.com"
            ngModel
          />
        </div>
        <div class="">
          <label for="password" class="form-label">Password</label>
          <input
            #password="ngModel"
            name="pPassword"
            type="password"
            class="form-control"
            id="password"
            placeholder="********"
            ngModel
          />
        </div>
        <div class="login-success" *ngIf="loginSuccessful">
          Login successful
        </div>
        <div class="login-error" *ngIf="!loginSuccessful && errorMessage">
          Invalid User Credentials
        </div>

        <button type="submit" class="btn sign-up-btn" [disabled]="loading">
          <span *ngIf="!loading">Sign in</span>
          <span
            *ngIf="loading"
            class="spinner-border spinner-btn"
            role="status"
          ></span>
        </button>
      </form>

      <p id="sign-in" class="mt-4">
        Don't have an account?
        <a href="" id="sign-in" routerLink="/sign-up">Sign up</a>
      </p>
    </div>
  </div>

  <!-- <div class="loading-container">
    <iframe
      src="https://lottie.host/?file=3216f451-384a-4b43-bff5-a9dfc0777bea/BSKddAIRIa.json"
    ></iframe>
  </div> -->
</div>
