header {
  background-color: #011055;
  min-height: 679px;
  padding-top: 10px;
}

.left-items {
  font-family: "Open Sans", Helvetica;
  color: #fcfcfc;
  width: 40%;
}

.heading {
  margin-bottom: 24px;
  font-size: 34px;
  font-weight: 400;
  font-family: "Palanquin Dark", sans-serif;
}

.head-span {
  color: #fdba21;
}

.search-bg {
  background-color: #cccccc;
  padding: 14px 24px 14px 24px;
  font-size: 18px;
}

.search-bg::placeholder {
  color: #2c2c2c;
  font-size: 18px;
}

.matching-companies {
  margin-top: 5px;
  border-radius: 8px;
  background: var(--neutral-colours-white-colour, #fff);
  box-shadow: 0px 8px 16px 0px rgba(18, 21, 23, 0.04);
  width: 315px;
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

a#companies {
  color: var(--neutral-colours-neutral-colours-110, #323232);

  /* Regular h/8 */
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  text-decoration: none;
}

ul#companies {
  width: 100%;
}

li.companies {
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

li.companies:hover {
  background: gray !important;
  width: 100%;
}

.btn-up {
  background-color: #fdba21;
  color: #fefefe;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.btn-up:hover {
  transform: scale(1.05);
  outline: 2px solid #fdba21;
  outline-offset: 2px;
  margin-left: 5px;
}
.padding {
  padding: 30px 0;
}

.search-form {
  margin-top: 30px;
  width: 75%;
}

.intro {
  font-weight: 400;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 25px;
  width: 75%;
}

.right-items {
  margin-top: -9px;
  align-items: center;
  justify-content: center;
}

.hero-img {
  height: 460px;
}

.spinner-btn {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 980px) {
  .left-items {
    margin-top: 24px;
  }
  .right-items {
    margin-top: 24px;
  }
  .hero-img {
    height: 340px;
  }

  .heading {
    margin-bottom: 12px;
    font-size: 26px;
  }

  .search-form {
    width: 100%;
  }

  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .right-items {
    margin-top: 24px;
  }

  .padding {
    padding: 24px;
  }

  .hero-img {
    height: 280px;
  }
}
