<header>
  <div class="container padding container-lg container-sm">
    <div class="row align-items-center flex-lg-wrap">
      <div class="left-items col col-sm col-lg">
        <h1 class="display-6 heading">
          From Voices to Victories: Empowering Businesses with
          <span class="head-span">Feedback</span>.
        </h1>
        <div class="lead intro">
          Bridge businesses and customers through ReviewNest: No website, no
          limits – just impactful insights and shared success!
        </div>
        <form class="d-flex w-75 search-form" role="search">
          <input
            class="form-control me-2 search-bg"
            type="text"
            name="search"
            placeholder="Enter company name"
            aria-label="Search"
          />

          <button class="btn btn-up" type="submit" routerLink="/form-creation">
            Search
          </button>
        </form>
      </div>
      <div class="right-items col col-lg text-center">
        <img
          src="./../../assets/assets(svg)/hero-img.svg"
          alt="Hero image"
          class="hero-img"
        />
      </div>
    </div>
  </div>
</header>
