<footer class="footer">
  <div class="container footer-content">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="logo">
        <div class="d-flex mb-2">
          <img
            src="../../assets/assets(png)/group-2@2x.png"
            alt=""
            class="logo-img"
          />
          <a class="navbar-brnad brand-text ms-1">
            Review<span class="brand-span">Nest</span>
          </a>
        </div>
      </div>
      <div class="d-flex flex-wrap footer-nav">
        <div class="col-item v-line">
          <div class="row footer-nav-item">
            <a href="#" class="about-para">Search Businesses</a>
            <a href="#" class="about-para">Get Started</a>
          </div>
        </div>
        <div class="col col-item v-line">
          <div class="row footer-nav-item">
            <a href="#" class="about-para">Home</a>
            <a href="#" class="about-para">About Us</a>
            <a href="#" class="about-para">Reviews</a>
            <a href="#" class="about-para">Contact Us</a>
          </div>
        </div>
        <div class="col col-item">
          <div class="row footer-nav-item">
            <a href="#" class="about-para">Social Media Handles</a>
            <div class="social-link d-flex">
              <a href="#" class="nav-link">
                <img
                  src="./../../assets/assets(svg)/001-facebook.svg"
                  alt="Facebook icon"
                  class="socials"
                />
              </a>
              <a class="nav-link">
                <img
                  src="./../../assets/assets(svg)/003-twitter.svg"
                  alt="Twitter icon"
                  class="socials"
                />
              </a>
              <div class="nav-link">
                <img
                  src="./../../assets/assets(svg)/004-instagram.svg"
                  alt="Instagram icom"
                  class="socials"
                />
              </div>
              <div class="nav-link">
                <img
                  src="./../../assets/assets(svg)/vector.svg"
                  alt="Linkedin-icon"
                  class="socials"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="container text-center">
    <p class="about-para">ReviewNest 2023 All Rights Reserved</p>
  </div>
</footer>
