<div class="recent-section">
  <div class="sub-heading">
    Recent <br />
    Customer Reviews
  </div>

  <div class="review-board">
    <div class="slider scroll-content">
      <div #scrollSection class="slider-track flex-nowrap d-flex scroll-section">
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-below mb-5 scroll-content">
      <div class="slide-track flex-nowrap d-flex scroll-section-2">
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
          >
            <div class="">
              <p class="review-para">
                “I totally enjoyed using the application to keep record of my
                activities. I’d highly recommend to everyone”
              </p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/assets(svg)/Ugonna ken.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">Ugbonna Ken</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span> Mosaic Brand
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <img
                  src="./../../assets/assets(svg)/star-1-11.svg"
                  alt=""
                  class="rate 1"
                />
                <img
                  src="./../../assets/assets(svg)/star-2-11.svg"
                  alt=""
                  class="rate 2"
                />
                <img
                  src="./../../assets/assets(svg)/star-3-11.svg"
                  alt=""
                  class="rate 3"
                />
                <img
                  src="./../../assets/assets(svg)/star-4-11.svg"
                  alt=""
                  class="rate 4"
                />
                <img
                  src="./../../assets/assets(svg)/star-5-11.svg"
                  alt=""
                  class="rate 5"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-review-now></app-review-now>
  </div>
</div>
