.recent-section {
  background-color: #011055;
  min-height: 1162px;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.slider {
  position: relative;
  overflow: hidden;
  margin-left: -170px;
}

.slider-below {
  margin-left: -50px;
  position: relative;
  overflow: hidden;
}

.slider-track {
  width: calc(5 * 378px);
  display: flex;
  perspective: 100px;
}

.slide {
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.sub-heading {
  font-size: 26px;
  color: #fefefe;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  padding: 40px;
  padding-left: 100px;
}

.review-content {
  width: 378px;
  height: 192px;
  border-radius: 8px;
  border: 0.6px solid;

  border-image-source: linear-gradient(
    92.47deg,
    #ffffff80 0%,
    #ffffff00 47.16%,
    #ffffff80 97.4%
  );

  background: linear-gradient(
    126deg,
    #ffffff1f 0%,
    #ffffff1f 43.06%,
    #ffffff00 100%
  );
  backdrop-filter: blur(30px);
  padding: 24px;
}

.review-name {
  margin-left: 8px;
}

.review-para {
  font-size: 12px;
  font-family: "Open Sans", Helvetica;
  line-height: 20px;
  color: #ffffff;
}

.review-span {
  color: #d2d2d2;
  font-size: 10px;
}

.review-company {
  font-size: 10px;
  font-family: "Open Sans", Helvetica;
  color: #ffffff;
  width: 16xx;
}

/* slider 1 */

@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 10px));
  }
}

.scroll-content {
  display: flex;
  min-width: 100%;
  overflow: hidden;
}

.scroll-section {
  display: flex;
  min-width: 100%;
  animation: autoScroll 20s linear infinite;
}

@keyframes autoScrollBack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}

.scroll-section-2 {
  display: flex;
  min-width: 100%;
  animation: autoScrollBack 20s linear infinite;
}

@media screen and (max-width: 980px) {
  .about-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .slider {
    margin-left: 0;
  }

  .slider-below {
    margin-left: -170px;
  }

  .sub-heading {
    font-size: 18px;
    padding-left: 40px;
  }

  .info {
    font-size: 16px;
    width: 100%;
    line-height: 22px;
  }

  .padding {
    padding: 24px;
  }

  .contact-text {
    width: 100%;
    margin-bottom: 24px;
  }
}
