<div class="recent-section">
  <div class="sub-heading">
    Recent <br />
    Customer Reviews
  </div>

  <div class="review-board">
    <div class="slider scroll-content">
      <div
        #scrollSection
        class="slider-track flex-nowrap d-flex scroll-section"
      >
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
            *ngFor="let review of reviews"
          >
            <div class="">
              <p class="review-para">“{{ review.feedBack }}”</p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/dashboard/brand_logo.svg"
                  alt="Ugbonna ken"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">{{ review.userName }}</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span>
                    {{ review.product }}
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <div
                  class="rating d-flex align-items-center"
                  *ngIf="review.rating > 0; else noRating"
                >
                  <ng-container
                    *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index"
                  >
                    <span
                      class="star"
                      [class.filled]="i < review.rating"
                    ></span>
                  </ng-container>
                </div>
                <ng-template #noRating> No Rating </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-below mb-5 scroll-content">
      <div class="slide-track flex-nowrap d-flex scroll-section-2">
        <div class="slide">
          <div
            class="review-content d-flex flex-column align-items-stretch justify-content-between"
            *ngFor="let review of reviews"
          >
            <div class="">
              <p class="review-para">“{{ review.feedBack }}”</p>
            </div>
            <div
              class="review-id d-flex justify-content-between align-items-center"
            >
              <div class="d-flex justify-content-around align-items-center">
                <img
                  src="./../../assets/dashboard/brand_logo.svg"
                  alt="review nest"
                  class="review-img"
                />
                <div class="review-name">
                  <p class="review-para">{{ review.userName }}</p>
                  <p class="review-company">
                    <span class="review-span">Reviewed</span>
                    {{ review.product }}
                  </p>
                </div>
              </div>
              <div
                class="rating d-flex justify-content-lg-end align-items-center"
              >
                <div
                  class="rating d-flex align-items-center"
                  *ngIf="review.rating > 0; else noRating"
                >
                  <ng-container
                    *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index"
                  >
                    <span
                      class="star"
                      [class.filled]="i < review.rating"
                    ></span>
                  </ng-container>
                </div>
                <ng-template #noRating> No Rating </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-review-now></app-review-now>
    <div class="spinner-item">
      <iframe
        src="https://lottie.host/?file=3216f451-384a-4b43-bff5-a9dfc0777bea/BSKddAIRIa.json"
      ></iframe>
    </div>
  </div>
</div>
