* {
  box-sizing: border-box;
}

.parent {
  position: relative;
}

#submission-component {
  position: absolute;
  z-index: 100;
  height: 311px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.darkBg::before {
  content: "";
  position: absolute;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  transition: opacity 0.3s;
  opacity: 0;
}

.darkBg.active::before {
  opacity: 1;
}

.submission::before {
  content: "";
  position: absolute;
  height: 140%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  transition: opacity 0.3s;
  opacity: 0;
}

.check {
  margin-bottom: 24px;
}

#close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

p#submission {
  color: var(--primary-colour-primary-colour-110, #000311);
  text-align: center;
  /* Medium h/7 */
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  margin-bottom: 8px;
}

p#feedback {
  color: var(--primary-black-400, #616364);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  margin-bottom: 20px;
}

button#back {
  width: 330px;
  height: 44px;
  color: var(--primary-colour-primary-colour-110, #000311);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 8px;
  background: var(--secondary-colour-secondary-colour-60, #fdba21);
}

a#back-btn {
  text-decoration: none;
  color: #000311;
}

/* end of submission codes */

.dashboard {
  overflow: hidden;
}
.header {
  gap: 24px;
}

.write-a-review {
  color: var(--primary-colour-primary-key-colour, #011055);
  text-align: center;
  font-family: Palanquin Dark;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 116.667% */
  margin-top: 55px;
}

.what-do-you-think {
  color: var(--neutral-colours-neutral-colours-110, #323232);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
}

.left {
  border-radius: 8px;
  height: fit-content;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 0.5px solid var(--black-colour-black-colour-10, #ccc);
  background: var(--white-600, #fefefe);
  box-shadow: 0px 24px 32px 0px rgba(18, 21, 23, 0.04);
}

.feedback {
  padding-bottom: 40px;
}

.profile-pictures {
  position: relative;
  height: 190px;
}

img#sec-profile-pic {
  width: 100%;
  height: 83px;
  border: 8px;
}

.primary-profile-pic {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  top: -45px;
}

.profile-picture {
  border-radius: 88px;
  position: relative;
  top: -20px;
}

img#review-pic {
  position: absolute;
  top: 19px;
  left: 530px;
}

p#profile-name {
  color: #010b39;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  text-align: center;
  background: #fefefe;
}

p#profile-desc {
  width: 96px;
  color: var(--neutral-colours-neutral-colours-100, #545454);

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  background: #fefefe;

}

.profile-desc{
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}

p.business-type {
  color: var(--neutral-colours-neutral-colours-100, #545454);

  /* Regular Bodytext/4 */
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

form.form {
  gap: 64px;
  justify-content: space-between;
  margin: 0 auto;
}

.left-side-form {
  gap: 24px;
}

.right-side-form {
  gap: 30px;
}

input {
  display: flex;
  padding: 14px 16px;
  font-family: "Open Sans", sans-serif;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--black-colour-black-colour-10, #ccc);
  width: 400px;
}

input::placeholder {
  color: var(--neutral-colours-neutral-colours-100, #545454);

  /* Regular Bodytext/4 */
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

textarea {
  font-family: "Open Sans", sans-serif;
}

label {
  color: var(--primary-colour-primary-colour-80, #010b39);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}

label#top-label {
  margin-bottom: 8px;
  color: var(--primary-colour-primary-colour-80, #010b39);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

label#bottom-label {
  color: var(--neutral-colours-neutral-colours-100, #545454);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

p#rating {
  color: var(--primary-colour-primary-colour-80, #010b39);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

button#submit-btn {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--secondary-colour-secondary-colour-60, #fdba21);
  color: var(--primary-colour-primary-colour-110, #000311);
  width: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
  transition: transform 0.3s ease-in-out;
}

button#submit-btn:hover {
  transform: scale(1.05);
  outline: 2px solid #fdba21;
  outline-offset: 2px;
}

.spinner-btn {
  width: 24px;
  height: 24px;
  color: #fff;
  outline: none;
}

.error-msg {
  margin-top: 10px;
  padding: 10px;
  background-color: #dc3545;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #fff;
  opacity: 1;
  width: 100%;
  height: 40px;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.error-msg.fade-out {
  height: 0;
  opacity: 0;
}

@media screen and (max-width: 990px) {
  .feedback {
    padding: 20px;
  }
  form.form {
    flex-direction: column;
    gap: 24px;
    margin: 0;
  }

  img#sec-profile-pic {
    width: 100%;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100% !important;
  }

  img#review-pic {
    position: absolute;
    top: 18px;
    left: 170px;
  }
}
