<app-form-navbar></app-form-navbar>

<div [ngClass]="{ overlay: showOverlay }" class="parent">
  <div class="darkBg" [class.active]="isDetailBoxActive">
    <app-submission
      *ngIf="submitted"
      (closeRequested)="closeSubmissionComponent()"
      id="submission-component"
    ></app-submission>
  </div>
  <div class="mt-4 container content d-flex flex-column">
    <div class="header d-flex flex-column">
      <div class="write-a-review">Write a Review</div>
      <div class="what-do-you-think">
        What do you think of our products/services? <br />
        Fill in the form below to share your thoughts about us.
      </div>
    </div>
    <div class="left">
      <div class="profile-pictures">
        <div class="sec-profile-pic">
          <img
            id="sec-profile-pic"
            src="\assets\form-images\sec-profile.png"
            alt=""
          />
        </div>

        <div class="primary-profile-pic d-flex flex-column">
          <!-- <div class="profile-picture">
            <img src="\assets\dashboard\white-bg.png" alt="">
            <img src="\assets\dashboard\reviewNest.png" alt="" />
          </div> -->

          <div class="profile-desc">
            <img
              id="white-bg"
              src="./../../assets/dashboard/brand_logo.svg"
              alt=""
            />

            <p id="profile-name">{{ companyName }}</p>
            <!-- <p class="business-type">Fashion Brand</p> -->
          </div>
        </div>
      </div>

      <div class="feedback d-flex flex-column">
        <form
          [formGroup]="feedbackForm"
          (ngSubmit)="onSubmit(feedbackForm.value)"
          action=""
          class="d-flex form"
        >
          <div class="left-side-form d-flex flex-column">
            <div class="email">
              <label for="email" class="form-label">Email Address</label>
              <input
                required
                minlength="1"
                type="text"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email address"
                formControlName="pEmail"
                required=""
              />
            </div>
            <div
              *ngIf="
                feedbackForm.get('pEmail')?.hasError('email') &&
                feedbackForm.get('pEmail')?.touched
              "
              class="error-message"
            >
              Invalid email format.
            </div>
            <div class="username">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                aria-describedby="emailHelp"
                placeholder="Enter a username"
                formControlName="pUserName"
                required=""
              />
            </div>
            <div class="product">
              <label for="product" class="form-label">Product/Service</label>
              <input
                type="text"
                class="form-control"
                id="product"
                placeholder="Enter a product/service you want to review"
                formControlName="pProduct"
                required=""
              />
            </div>
          </div>

          <div class="right-side-form d-flex flex-column">
            <div class="thoughts">
              <label id="top-label" for="thoughts"
                >Do you have any thoughts you’d love to share?</label
              >
              <div class="form-floating">
                <textarea
                  formControlName="pThoughts"
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="thoughts"
                  style="height: 121px; width: 400px"
                ></textarea>
                <label id="bottom-label" for="thought"
                  >Share thoughts here...</label
                >
              </div>
            </div>

            <div class="ratings">
              <p id="rating" class="mb-1">Rate our services</p>
              <div class="stars d-flex">
                <div class="stars d-flex">
                  <div
                    *ngFor="let star of [1, 2, 3, 4, 5]"
                    class="star"
                    (click)="setRating(star)"
                  >
                    <img
                      [src]="
                        star <= pRating
                          ? '/assets/dashboard/Star 5.png'
                          : '/assets/dashboard/Star 8.png'
                      "
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn"
              id="submit-btn"
              [disabled]="loading || pRating === 0 || !ratingGiven"
            >
              <span *ngIf="!loading">Submit</span>
              <span *ngIf="loading" class="spinner-border spinner-btn" role="status "></span>
            </button>

            <div
              class="error-msg btn my-1"
              [ngClass]="{ 'fade-out': !successMessageVisible }"
            >
              Missing required fields!
              <div class="progress-bar"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
