<div [ngClass]="{ overlay: showOverlay }" class="parent">
  <app-navbar></app-navbar>
  <div class="darkBg" [class.active]="isDetailBoxActive">
    <app-submission
      *ngIf="submitted"
      (closeRequested)="closeSubmissionComponent()"
      id="submission-component"
    ></app-submission>
  </div>
  <div class="mt-4 container content d-flex flex-column">
    <div class="header d-flex flex-column">
      <div class="write-a-review">Write a Review</div>
      <div class="what-do-you-think">
        What do you think of our products/services? Fill in the form below to
        share your thoughts about us.
      </div>
    </div>
    <div class="left">
      <div class="profile-pictures">
        <div class="sec-profile-pic">
          <img
            id="sec-profile-pic"
            src="\assets\form-images\sec-profile.png"
            alt=""
          />
        </div>

        <div class="primary-profile-pic d-flex flex-column">
          <div class="profile-picture">
            <img src="\assets\form-images\profile-pic.jpg" alt="" />
          </div>
          <div class="profile-desc">
            <p id="profile-name">{{ companyName }}</p>
            <p class="business-type">Fashion Brand</p>
          </div>
        </div>
      </div>

      <div class="feedback d-flex flex-column">
        <form
          [formGroup]="feedbackForm"
          (ngSubmit)="onSubmit(feedbackForm.value)"
          action=""
          class="d-flex form"
        >
          <div class="left-side-form d-flex flex-column">
            <div class="email">
              <label for="email" class="form-label">Email Address</label>
              <input
                required
                minlength="1"
                type="text"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email address"
                formControlName="pEmail"
                required=""
              />
            </div>
            <div class="username">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                aria-describedby="emailHelp"
                placeholder="Enter a username"
                formControlName="pUserName"
                required=""
              />
            </div>
            <div class="product">
              <label for="product" class="form-label">Product/Service</label>
              <input
                type="text"
                class="form-control"
                id="product"
                placeholder="Enter a product/service you want to review"
                formControlName="pProduct"
                required=""
              />
            </div>
          </div>

          <div class="right-side-form d-flex flex-column">
            <div class="thoughts">
              <label id="top-label" for="thoughts"
                >Do you have any thoughts you’d love to share?</label
              >
              <div class="form-floating">
                <textarea
                  formControlName="pThoughts"
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="thoughts"
                  style="height: 121px; width: 400px"
                ></textarea>
                <label id="bottom-label" for="thought"
                  >Share thoughts here...</label
                >
              </div>
            </div>

            <div class="ratings">
              <p id="rating" class="mb-1">Rate our services</p>
              <div class="stars d-flex">
                <div class="stars d-flex">
                  <div
                    *ngFor="let star of [1, 2, 3, 4, 5]"
                    class="star"
                    (click)="setRating(star)"
                  >
                    <img
                      [src]="
                        star <= pRating
                          ? '/assets/dashboard/Star 5.png'
                          : '/assets/dashboard/Star 8.png'
                      "
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <button id="submit-btn" type="submit" class="btn">Submit</button>
          </div>
        </form>

       
      </div>
    </div>


    <div class="submission overlay d-flex flex-column" *ngIf="showSubmission">
      <div id="close" (click)="closeSubmission()">
        <img src="\assets\dashboard\close.png" alt="" />
      </div>
      <div class="check">
        <img src="\assets\assets(png)\check-one.png" alt="" />
      </div>
      <div class="submission-text">
        <p id="submission">Submission Successful!</p>
        <p id="feedback">
          Your feedback have been successfully sent to Suittie Fashion
          Brand.
        </p>
      </div>
      <button id="back">
        <a id="back-btn" href="" routerLink="/">Back to Home</a>
      </button>
    </div>

  </div>

