*{
  box-sizing: border-box;
}

.dashboard {
  overflow: hidden;
}
.header{
  gap: 24px;
}

.write-a-review{
  color: var(--primary-colour-primary-key-colour, #011055);
text-align: center;
font-family: Palanquin Dark;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 56px; /* 116.667% */
margin-top: 55px;
}

.what-do-you-think{
  color: var(--neutral-colours-neutral-colours-110, #323232);
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-bottom: 24px;
}

.left {
  border-radius: 8px;
  border: 0.5px solid var(--black-colour-black-colour-10, #CCC);
  background: var(--white-600, #FEFEFE);
  box-shadow: 0px 24px 32px 0px rgba(18, 21, 23, 0.04);
}

.feedback{
  padding: 0px 131px;
}


.profile-pictures{
  position: relative;
  height: 210px;
}

img#sec-profile-pic{
  width: 1114px;
height: 83px;
border: 8px;
}

.primary-profile-pic{
  display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
position: relative;
top: -45px;
}



.profile-picture{
border-radius: 88px;
}

.profile-picture img{
  width: 88px;
  height: 88px;
  border-radius: 88px;
}

p#profile-name{
  color: #010B39;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 155.556% */
text-align: center;
background: #FEFEFE;
}

p#profile-desc{
  width: 96px;
  color: var(--neutral-colours-neutral-colours-100, #545454);

font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
background: #FEFEFE;
}

p.business-type{
  color: var(--neutral-colours-neutral-colours-100, #545454);

/* Regular Bodytext/4 */
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}

form.form{
  gap: 64px;
  justify-content: space-between;
}

.left-side-form{
  gap: 24px;
}

.right-side-form{
  gap: 30px;
}

input{
  display: flex;
padding: 14px 16px;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 8px;
border: 1px solid var(--black-colour-black-colour-10, #CCC);
width: 400px;
}

input::placeholder{
  color: var(--neutral-colours-neutral-colours-100, #545454);

/* Regular Bodytext/4 */
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}

label{
  color: var(--primary-colour-primary-colour-80, #010B39);
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 157.143% */
}


label#top-label{
  margin-bottom: 8px;
  color: var(--primary-colour-primary-colour-80, #010B39);
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px;
}

label#bottom-label{
  color: var(--neutral-colours-neutral-colours-100, #545454);
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px;
}



p#rating{
  color: var(--primary-colour-primary-colour-80, #010B39);
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
}

button#submit-btn{
  display: flex;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--secondary-colour-secondary-colour-60, #FDBA21);
color: var(--primary-colour-primary-colour-110, #000311);
width: 97px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 157.143% */
}


@media (max-width: 576px),
(min-width: 577px) and (max-width: 800px) {

  .feedback{
    padding: 20px;
  }
  form.form{
    flex-direction: column;
    gap: 24px;
  }

  img#sec-profile-pic {
    width: 100%;
  }

  input{
    width: 100%;
  }

  textarea{
    width: 100% !important;
  }
}