<div class="container padding">
  <div class="row about-info">
    <div class="col col-md-12 col-lg-6 flex-sm-wrap">
      <h2 class="sub-heading display-6">
        We Are <br />
        ReviewNest
      </h2>
      <p class="info">
        At ReviewNest, we're on a mission to empower businesses with the
        transformative force of feedback, propelling them to new heights of
        success through meaningful insights and customer-driven growth.
      </p>
    </div>

    <div class="col col-lg-3 text-center gx-5 gy-lg-0 gy-4">
      <img src="./../../assets/icons/heart-icon.svg" alt="" />
      <h3 class="ted-head">Informed Decision-Making</h3>
      <p class="about-para">
        We give access to real-time feedback that equips businesses with the
        data needed to make informed strategic decisions.
      </p>
    </div>
    <div class="col col-lg-3 text-center gy-lg-0 gy-4">
      <img src="./../../assets/icons/meditate.svg" alt="" />
      <h3 class="ted-head">Improved Experiences</h3>
      <p class="about-para">
        By sharing feedback, customers help shape products and services to
        better suit their needs, leading to enhanced experiences and greater
        satisfaction.
      </p>
    </div>
  </div>
  <div class="row sec-row flex-wrap flex-lg-nowrap">
    <div class="col-0 col-lg-6"></div>

    <div class="col-lg-3 text-center .about-item gy-lg-0 gy-4">
      <img src="./../../assets/icons/grow.svg" alt="" />
      <h3 class="ted-head">Insights that Ignite Growth</h3>
      <p class="about-para">
        We unlock a treasure trove of customer feedback, providing invaluable
        insights to drive strategic decisions and catalyze your business's
        expansion.
      </p>
    </div>
    <div class="col-lg-3 text-center .about-item gy-lg-0 gy-4">
      <img src="./../../assets/icons/voice.svg" alt="" />
      <h3 class="ted-head">Voice and Impact</h3>
      <p class="about-para">
        We enable customers voice their opinions and contribute to the evolution
        of businesses they support, knowing that their feedback directly
        influences positive changes.
      </p>
    </div>
  </div>
</div>
