<div class="edit-wrapper">
  <div class="d-flex justify-content-center d-sm-block">
    <div class="d-flex justify-content-between align-items-start w-100">
      <div class="logo-wrapper">
        <div
          class="change-logo d-flex justify-content-center align-content-center flex-wrap"
          [style.background-image]="'url(' + selectedImageUrl + ')'"
        >
          <label for="inputTag" class="change-text w-75">
            <img
              src="./../../assets/dashboard/camera.svg"
              alt="company logo"
              class="change-logo-img"
            />
            <br />
            Click to change image
            <input
              id="inputTag"
              type="file"
              accept="image/png, image/jpg, image/gif, image/jpeg, image/svg"
              (change)="onImageSelected($event)"
            />
            <br />
            <span id="imageName"></span>
          </label>
        </div>
      </div>
      <div
        class="close-btn d-flex align-items-center justify-content-center"
        (click)="hideElement()"
      >
        <img
          src="./../../assets/dashboard/iconoir_cancel.svg"
          alt="cancel"
          class="close-img"
        />
      </div>
    </div>
  </div>

  <form
    class="edit-elements d-sm-flex d-lg-flex justify-content-between flex-wrap"
    #editForm="ngForm"
    (ngSubmit)="onUpdateClicked(editForm)"
  >
    <div class="left">
      <div class="des-wrapper">
        <label for="company_name" class="form-label">Brand Name</label>
        <input
          #brandName="ngModel"
          name="company_name"
          type="text"
          class="form-control"
          id="company_name"
          placeholder="Suittie"
          ngModel
          required
        />
        <div
          *ngIf="
            brandName.invalid &&
            (brandName.dirty || brandName.touched || brandName.untouched)
          "
          class="invalid-feed"
        >
          <div *ngIf="brandName.errors?.['required']">
            This field is required.
          </div>
        </div>
      </div>
      <div class="des-wrapper">
        <label for="category" class="form-label">Category</label>
        <input
          #category="ngModel"
          name="category"
          type="text"
          class="form-control"
          id="category"
          placeholder=" e.g Fashion Brand"
          ngModel
          required
        />
        <div
          *ngIf="
            category.invalid &&
            (category.dirty || category.touched || category.untouched)
          "
          class="invalid-feed"
        >
          <div *ngIf="category.errors?.['required']">
            This field is required.
          </div>
        </div>
      </div>
      <div class="des-wrapper">
        <label for="company_description" class="form-label">Description</label>
        <textarea
          name="company_description"
          id="company_description"
          class="form-control"
          cols="30"
          rows="6"
          [formControl]="desc"
          minlength="15"
          placeholder="We are dedicated to pushing creative boundaries, seamlessly blending bold and innovative urban aesthetics with a refined touch of timeless elegance."
          (input)="onInput($event)"
          [maxlength]="maxCharacters"
          required
        ></textarea>
        <div class="d-flex justify-content-between w-100">
          <div
            *ngIf="
              desc.invalid && (desc.dirty || desc.touched || desc.untouched)
            "
            class="invalid-feed"
          >
            <div *ngIf="desc.errors?.['required']">This field is required.</div>
            <div *ngIf="desc.errors?.['minlength']">
              Please enter more than 10 words.
            </div>
          </div>
          <span class="mb-2 word-count"
            >{{ characterCount }}/{{ maxCharacters }}</span
          >
        </div>
      </div>
    </div>
    <div class="right">
      <div class="des-wrapper">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="e-mail"
          [formControl]="emailInput"
          required
        />
        <div
          *ngIf="
            emailInput.invalid &&
            (emailInput.dirty || emailInput.touched || emailInput.untouched)
          "
          class="invalid-feed"
        >
          <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
          <div *ngIf="emailInput.hasError('email')">Invalid email format.</div>
        </div>
      </div>
      <div class="des-wrapper">
        <label for="phyAddress" class="form-label">Physical Address</label>
        <input
          #address="ngModel"
          name="phyAddress"
          type="text"
          class="form-control"
          id="phy-address"
          placeholder="e.g No 27 Nigeria street"
          ngModel
          required
        />
        <div
          *ngIf="
            phoneNumber.invalid &&
            (address.dirty || address.touched || address.untouched)
          "
          class="invalid-feed"
        >
          <div *ngIf="address.errors?.['required']">
            This field is required.
          </div>
        </div>
      </div>
      <div class="des-wrapper">
        <label for="pNumber" class="form-label">Phone Number</label>
        <input
          #phoneNumber="ngModel"
          name="pNumber"
          type="number"
          class="form-control"
          id="p-number"
          placeholder="e.g 090..."
          ngModel
          minlength="11"
          maxlength="11"
          required
        />
        <div
          *ngIf="
            phoneNumber.invalid &&
            (phoneNumber.dirty || phoneNumber.touched || phoneNumber.untouched)
          "
          class="invalid-feed"
        >
          <div *ngIf="phoneNumber.errors?.['required']">
            This field is required.
          </div>
          <div *ngIf="phoneNumber.errors?.['minlength']">
            Please enter more than 10 words.
          </div>
        </div>
      </div>
      <div class="des-wrapper">
        <label for="socials" class="form-label">Social Media</label>
        <textarea
          #brandName="ngModel"
          name="socials"
          id="socials"
          class="form-control"
          cols="30"
          rows="6"
          placeholder="https://suittie@linkedin.com
https://suittie@instagram.com
https://suittie@threads.com
https://suittie@twitter.com
https://suittie@facebook.com"
          ngModel
        ></textarea>
      </div>
    </div>
  </form>

  <input
    class="btn btn-up"
    type="submit"
    value="Update"
    [disabled]="
      !selectedImage ||
      editForm.invalid ||
      emailInput.invalid ||
      !emailInput.value ||
      desc.invalid
    "
    (click)="onUpdateClicked(editForm)"
  />

  <div class="spinner-item">
    <div *ngIf="loading" class="spinner-border text-warning" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</div>
