<div class="edit-wrapper">
  <div class="d-flex justify-content-center d-sm-block">
    <div class="d-flex justify-content-end align-items-start w-100">
      <!-- <div class="logo-wrapper">
        <div
          class="change-logo d-flex justify-content-center align-content-center flex-wrap"
          [style.background-image]="'url(' + selectedImageUrl + ')'"
        >
          <label for="inputTag" class="change-text w-75">
            <img
              src="./../../assets/dashboard/camera.svg"
              alt="company logo"
              class="change-logo-img"
            />
            <br />
            Click to change image
            <input
              id="inputTag"
              type="file"
              accept="image/png, image/jpg, image/gif, image/jpeg, image/svg"
              (change)="onImageSelected($event)"
            />
            <br />
            <span id="imageName"></span>
          </label>
        </div>
      </div> -->
      <div
        class="close-btn d-flex align-items-center justify-content-center"
        (click)="hideElement()"
      >
        <img
          src="./../../assets/dashboard/iconoir_cancel.svg"
          alt="cancel"
          class="close-img"
        />
      </div>
    </div>
  </div>

  <form
    class="edit-elements d-sm-flex d-lg-flex justify-content-between flex-wrap"
    [formGroup]="editForm"
  >
    <div class="left">
      <!-- <div class="des-wrapper">
        <label for="company_name" class="form-label">Brand Name</label>
        <input
          #brandName="ngModel"
          name="company_name"
          type="text"
          class="form-control"
          id="company_name"
          placeholder="Suittie"
          ngModel
          required
        />
        <div
          *ngIf="brandName.invalid && (brandName.dirty || brandName.touched)"
          class="invalid-feed"
        >
          <div *ngIf="brandName.errors?.['required']">
            This field is required.
          </div>
        </div>
      </div> -->
      <!-- <div class="des-wrapper">
        <label for="category" class="form-label">Category</label>
        <input
          #category="ngModel"
          name="category"
          type="text"
          class="form-control"
          id="category"
          placeholder=" e.g Fashion Brand"
          ngModel
          required
        />
        <div
          *ngIf="category.invalid && (category.dirty || category.touched)"
          class="invalid-feed"
        >
          <div *ngIf="category.errors?.['required']">
            This field is required.
          </div>
        </div>
      </div> -->
      <div class="des-wrapper">
        <label for="company_description" class="form-label">Description</label>
        <textarea
          name="company_description"
          id="company_description"
          class="form-control"
          cols="30"
          rows="6"
          formControlName="company_description"
          minlength="15"
          placeholder="We are dedicated to pushing creative boundaries, seamlessly blending bold and innovative urban aesthetics with a refined touch of timeless elegance."
          (input)="onInput($event)"
          [maxlength]="maxCharacters"
          required
        ></textarea>
        <div class="d-flex justify-content-between w-100">
          <div
            *ngIf="
              company_description.invalid &&
              (company_description.dirty || company_description.touched)
            "
            class="invalid-feed"
          >
            <div *ngIf="company_description.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="company_description.errors?.['minlength']">
              Please enter more than 10 words.
            </div>
          </div>
          <span class="mb-2 word-count"
            >{{ characterCount }}/{{ maxCharacters }}</span
          >
        </div>
      </div>
    </div>
  </form>

  <input
    class="btn btn-up"
    type="submit"
    value="Update"
    [disabled]="editForm.invalid || company_description.invalid"
    (click)="onUpdateClicked()"
  />

  <div class="spinner-item" *ngIf="loading">
    <iframe
      src="https://lottie.host/?file=3216f451-384a-4b43-bff5-a9dfc0777bea/BSKddAIRIa.json"
    ></iframe>
  </div>
</div>
