<div class="edit-wrapper">
  <div class="d-flex justify-content-center d-sm-block">
    <div class="d-flex justify-content-between align-items-start w-100">
      <div class="logo-wrapper">
        <div
          class="change-logo d-flex justify-content-center align-content-center flex-wrap"
        >
          <img
            src="./../../assets/dashboard/camera.svg"
            alt="company logo"
            class="change-logo-img"
          />
          <p class="change-text w-75">Click to change image</p>
        </div>
      </div>
      <div
        class="close-btn d-flex align-items-center justify-content-center"
        (click)="hideElement()"
      >
        <img
          src="./../../assets/dashboard/iconoir_cancel.svg"
          alt="cancel"
          class="close-img"
        />
      </div>
    </div>
  </div>

  <form
    class="edit-elements d-sm-flex d-lg-flex justify-content-between flex-wrap"
    #editForm="ngForm"
  >
    <div class="left">
      <div class="des-wrapper">
        <label for="company_name" class="form-label">Brand Name</label>
        <input
          #brandName="ngModel"
          name="company_name"
          type="text"
          class="form-control"
          id="company_name"
          placeholder="Suittie"
          ngModel
        />
      </div>
      <div class="des-wrapper">
        <label for="category" class="form-label">Category</label>
        <input
          #brandName="ngModel"
          name="category"
          type="text"
          class="form-control"
          id="category"
          placeholder=" e.g Fashion Brand"
          ngModel
        />
      </div>
      <div class="des-wrapper">
        <label for="company_description" class="form-label">Description</label>
        <textarea
          #brandName="ngModel"
          name="company_description"
          id="company_description"
          class="form-control"
          cols="30"
          rows="6"
          placeholder="We are dedicated to pushing creative boundaries, seamlessly blending bold and innovative urban aesthetics with a refined touch of timeless elegance."
          ngModel
        ></textarea>
      </div>
    </div>
    <div class="right">
      <div class="des-wrapper">
        <label for="email" class="form-label">Email Address</label>
        <input
          #brandName="ngModel"
          name="email"
          type="text"
          class="form-control"
          id="e-mail"
          placeholder="Suittie@gmail.com"
          ngModel
        />
      </div>
      <div class="des-wrapper">
        <label for="phyAddress" class="form-label">Physical Address</label>
        <input
          #brandName="ngModel"
          name="phyAddress"
          type="text"
          class="form-control"
          id="phy-address"
          placeholder="e.g No 27 Nigeria street"
          ngModel
        />
      </div>
      <div class="des-wrapper">
        <label for="pNumber" class="form-label">Phone Number</label>
        <input
          #brandName="ngModel"
          name="pNumber"
          type="text"
          class="form-control"
          id="p-number"
          placeholder="e.g 090..."
          ngModel
        />
      </div>
      <div class="des-wrapper">
        <label for="socials" class="form-label">Social Media</label>
        <textarea
          #brandName="ngModel"
          name="socials"
          id="socials"
          class="form-control"
          cols="30"
          rows="6"
          placeholder="https://suittie@linkedin.com
https://suittie@instagram.com
https://suittie@threads.com
https://suittie@twitter.com
https://suittie@facebook.com"
          ngModel
        ></textarea>
      </div>
    </div>
  </form>

  <input
    class="btn btn-up"
    type="submit"
    value="Update"
    (click)="onUpdateClicked(editForm)"
  />
</div>
