<nav class="navbar navbar-expand-lg navbar-item sticky-top">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center w-100">
      <app-logo></app-logo>

      <button
        class="navbar-toggle navbar-toggler custom-toggle"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon menu-icon"></span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse justify-content-end mobile-nav"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav list-items me-3">
        <li class="nav-item list-item">
          <a
            class="nav-link link-items"
            href="#"
            [appSmoothScroll]="'header'"
            routerLink=""
            >Home
          </a>
        </li>
        <li class="nav-item list-item">
          <a
            class="nav-link link-items"
            appSmoothScroll="about"
            href="#"
            routerLink=""
            >About Us</a
          >
        </li>
        <li class="nav-item list-item">
          <a
            class="nav-link link-items"
            href="#"
            appSmoothScroll="reviews"
            routerLink=""
            >Reviews</a
          >
        </li>
        <li class="nav-item list-item">
          <a
            class="nav-link link-items"
            href="#"
            appSmoothScroll="contact"
            routerLink=""
            >Contact Us</a
          >
        </li>
      </ul>

      <a
        href="#"
        class="btn btn-up my-2 list-item"
        routerLink="/sign-up"
        *ngIf="!accessToken"
        >Sign Up</a
      >
      <a
        href="#"
        class="btn btn-up my-2 list-item dash"
        routerLink="/dashboard"
        *ngIf="accessToken"
        >Dashboard</a
      >
    </div>
  </div>
</nav>
