<nav class="navbar navbar-expand-lg navbar-item sticky-top">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div class="d-flex justify-content-between align-items-center">
        <img
          src="../../assets/assets(png)/group-2@2x.png"
          alt=""
          class="logo-img"
        />
        <a class="navbar-brand brand-text ms-1">
          Review<span class="brand-span">Nest</span>
        </a>
      </div>

      <button
        class="navbar-toggle navbar-toggler custom-toggle"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon menu-icon"></span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse justify-content-end mobile-nav"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav list-items me-3">
        <li class="nav-item list-item">
          <a class="nav-link link-items link-active" href="#">Home </a>
        </li>
        <li class="nav-item list-item">
          <a class="nav-link link-items" href="#">About Us</a>
        </li>
        <li class="nav-item list-item">
          <a class="nav-link link-items" href="#">Reviews</a>
        </li>
        <li class="nav-item list-item">
          <a class="nav-link link-items" href="#">Contact Us</a>
        </li>
      </ul>
      <a
        href="#"
        class="btn btn-up my-2 list-item"
        routerLink="/sign-up"
        (click)="navigateToSignUp()"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
