<div class="container padding text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="sub-heading display-6">How It Works</h2>
      <p class="info">
        We carter to both businesses who sort for a medium to receive feedback
        from customers and to customers who seek for ways to reach out to brands
        with constructive feedback. By so doing, we foster innovation, growth,
        and mutual empowerment.
      </p>
    </div>
  </div>
</div>

<div class="container container-xl mt-4 support-section">
  <div
    class="d-flex justify-content-evenly align-items-center flex-wrap business-work"
  >
    <div class="p-0 support-item mb-5 m-lg-0">
      <img
        src="./../../assets/images/support-img.png"
        alt="Support image"
        class="support"
      />
    </div>
    <div class="support-item">
      <h4 class="small-heading">For Businesses</h4>
      <div class="explain-container">
        <img src="./../../assets/assets(svg)/step 1.svg" alt="" class="steps" />
        <p class="explain-head">Sign Up As a Business</p>
        <p class="about-para">
          Click on the “Sign Up” button, fill the requirements that follow suit
          to get started.
        </p>
      </div>
      <div class="explain-container">
        <img src="./../../assets/assets(svg)/step 2.svg" alt="" class="steps" />
        <p class="explain-head">Set Up Profile Details</p>
        <p class="about-para">
          Proceed to set up your business in the profile section to complete
          registration process.
        </p>
      </div>
      <div class="explain-container">
        <img src="./../../assets/assets(svg)/step 3.svg" alt="" class="steps" />
        <p class="explain-head">Receive Feedback from Customers</p>
        <p class="about-para">
          Start receiving and responding to customers feedback and empower your
          business.
        </p>
      </div>
    </div>

    <div class="support-item mt-3 m-lg-0">
      <h4 class="small-heading">For Customers</h4>
      <div class="explain-container">
        <img src="./../../assets/assets(svg)/step 1.svg" alt="" class="steps" />
        <p class="explain-head">Search with Business Name</p>
        <p class="about-para">
          Click on the “Search Field” and type in the business name you want to
          review.
        </p>
      </div>
      <div class="explain-container">
        <img src="./../../assets/assets(svg)/step 2.svg" alt="" class="steps" />
        <p class="explain-head">Drop Review</p>
        <p class="about-para">
          Input your feedback message in the feedback form provided by the
          business.
        </p>
      </div>
      <div class="explain-container">
        <img src="./../../assets/assets(svg)/step 3.svg" alt="" class="steps" />
        <p class="explain-head">Receive Feedback from Business</p>
        <p class="about-para">
          Receive feedback from the business and anticipate improvement and
          better user experience.
        </p>
      </div>
    </div>
  </div>
</div>
