<div class="container padding">
  <div class="d-flex justify-content-between flex-wrap flex-lg-wrap">
    <div class="contact-text">
      <h2 class="sub-heading">Contact Us</h2>

      <p class="info">
        You’ve got some feedback or concerns you’d love us to sort out? Reach
        out to us now, we’re always available to assist you have a seamless user
        experience.
      </p>
    </div>

    <div class="form-section">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input
            type="email"
            class="form-control input"
            id="email"
            aria-describedby="nameHelp"
            placeholder="Enter name"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control input"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Message</label>
          <textarea
            type="text"
            class="form-control input"
            id="text"
            placeholder="Enter message"
            name="textarea"
            cols="20"
            rows="5"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-up">Send Message</button>
      </form>
    </div>
  </div>
</div>
