<div class="container padding">
  <div class="d-flex justify-content-between flex-wrap flex-lg-wrap">
    <div class="contact-text">
      <h2 class="sub-heading">Contact Us</h2>

      <p class="info">
        You’ve got some feedback or concerns you’d love us to sort out? Reach
        out to us now, we’re always available to assist you have a seamless user
        experience.
      </p>
    </div>

    <div class="form-section">
      <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control input"
            id="email"
            aria-describedby="nameHelp"
            required
            formControlName="fullName"
            placeholder="Enter name"
          />
          <div
            *ngIf="contactForm.get('fullName')?.invalid && formSubmitted"
            class="error-msg"
          >
            Full Name is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control input"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
            name="email"
            required
          />
          <div
            *ngIf="contactForm.get('email')?.invalid && formSubmitted"
            class="error-msg"
          >
            Email is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Message</label>
          <textarea
            class="form-control input"
            id="message"
            placeholder="Enter message"
            name="textarea"
            formControlName="message"
            name="message"
            cols="20"
            rows="5"
            required
          ></textarea>
          <div
            *ngIf="contactForm.get('message')?.invalid && formSubmitted"
            class="error-msg"
          >
            Message is required
          </div>
        </div>

        <button type="submit" class="btn btn-up">Send Message</button>
      </form>
    </div>
  </div>

  <div class="success-msg" [ngClass]="{ 'fade-out': !successMessageVisible }">
    Your message was sent successfully!
    <div class="progress-bar"></div>
  </div>
</div>
