.sub-heading {
  font-size: 26px;
  color: #01082b;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}
.contact-text {
  width: 50%;
}

.padding {
  padding: 70px 0;
  font-family: "Open Sans", Helvetica;
}

.info {
  font-size: 18px;
  margin-top: 10px;
  line-height: 20px;
  color: #323232;
  font-family: "Open Sans", Helvetica;
  width: 100%;
  line-height: 30px;
}

.form-section {
  box-shadow: 0px 16px 32px 0px #1215170a;
  padding: 46px 30px;
  border-radius: 8px;
  width: 50%;
  background: #f6f6f6;
}

.input {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 14px 16px 14px 16px;
  background-color: #f6f6f6;
}

.form-control::placeholder {
  color: #565656;
  font-size: 14px;
}

.btn-up {
  background-color: #fdba21;
  color: #fefefe;
  font-size: 16px;
  padding: 10px 24px 10px 24px;
  font-weight: 600;
  margin-top: 10px;
}

.error-msg {
  font-size: 10px;
  margin-top: 5px;
  color: #ff0000;
  font-family: "Open Sans", Helvetica;
}

.success-msg {
  margin-top: 10px;
  padding: 10px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  opacity: 1;
  height: 40px;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.success-msg.fade-out {
  height: 0;
  opacity: 0;
}

textarea {
  resize: none;
}

@media screen and (max-width: 980px) {
  .about-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .sub-heading {
    font-size: 18px;
  }

  .info {
    font-size: 16px;
    width: 100%;
    line-height: 22px;
  }

  .padding {
    padding: 24px;
  }

  .form-section {
    width: 100%;
  }

  .contact-text {
    width: 100%;
    margin-bottom: 24px;
  }
}
