<div class="right-items">
  <div class="com-item">
    <div
      class="container d-flex align-content-center justify-content-between search-wrapper"
    >
      <div class="search-dash d-flex">
        <img
          src="./../../assets/dashboard/search-normal.svg"
          alt=""
          class="search-img"
          (click)="search()"
        />
        <input
          type="text"
          class="form-control search-box"
          [(ngModel)]="searchTerm"
          placeholder="Search Dashboard"
        />
      </div>
      <div class="comp-logo d-flex align-items-center">
        <img
          src="./../../assets/dashboard/com img.svg"
          alt="company logo"
          class="com-img"
        />
        <div class="com-logo-text">
          <p class="logo-text">Suittie</p>
          Business Admin
        </div>
      </div>
    </div>
  </div>
</div>
