.right-content {
  display: flex;
  flex-direction: column;
}

.right-item {
  width: 970px;
  height: 70px;
  padding: 20px 80px 20px 64px;
  border: 0px 0px 1px 0px;
  font-family: "Open Sans", Helvetica;
}

.com-item {
  width: 970px;
  height: 65px;
  padding: 12px 80px 12px 64px;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0px 4px 8px 0px rgba(18, 21, 23, 0.06);
}

.search-dash {
  display: flex;
  padding: 5px 16px;
  width: 406px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
}

.search-box {
  border: none;
  outline: none;
  height: 80%;
  font-family: "Open Sans", Helvetica;
}

.search-box::placeholder {
  font-family: "Open Sans", Helvetica;
}

.search-box:focus {
  box-shadow: none;
}

.search-wrapper {
  height: 90%;
}

.com-logo-text .logo-text {
  font-size: 16px;
  color: #020202;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  font-family: "Open Sans", Helvetica;
}

.com-logo-text {
  font-size: 10px;
  font-weight: 400;
  color: #545454;
  text-align: left;
  font-family: "Open Sans", Helvetica;
}

.search-box {
  max-width: 406px;
}

.com-img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}
