<div class="container">
    <div class="sign-up-container d-flex justify-content-between">
        <div class="left-section d-flex flex-column justify-content-center align-items-center">
            <div class="left-section-top d-flex flex-column">
                <div class="review-text d-flex align-items-center">
                    <div><img src="\assets\sign-up-images\Group.png" alt=""></div>
                    <div><p id="review">Review<span id="nest">Nest</span></p></div>
                </div>
                <h2 id="hero-text">
                    Supercharge Your Business with ReviewNest
                </h2>
                <p id="hero-paragraph">
                    Unlock valuable customer insights and enhance your business's performance by joining our exclusive feedback service. Connect with your customers like never before.
                </p>
            </div>
            <div class="left-section-bottom d-flex flex-column">
                <div class="rectangle-1 d-flex">
                   <div class="profile-img "><img src="\assets\sign-up-images\Ellipse 4.png" alt=""></div>
                    <div class="thin-lines-1 d-flex flex-column justify-content-center align-items-start">
                        <div class="thin-line-1"></div>
                        <div class="thin-line-2"></div>
                    </div>
                </div>
                <div class="rectangle-2 d-flex flex-column">
                    <div class="thin-lines-2 d-flex flex-column justify-content-center align-items-start">
                        <div class="thin-line-3"></div>
                        <div class="thin-line-4"></div>
                    </div>
                    <div class="d-flex">
                        <div class="profile-img "><img src="\assets\sign-up-images\Ellipse 4.png" alt=""></div>
                        <div class="thin-lines-1 d-flex flex-column justify-content-center align-items-start">
                            <div class="thin-line-1"></div>
                            <div class="thin-line-2"></div>
                        </div>
                        <div class="stars">
                            <img src="\assets\sign-up-images\stars.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="right-section d-flex flex-column">
            <div class="header-section">
                <h3 id="get-started">Get Started</h3>
                <p id="sign-up-text">Enter your details let’s get you signed up.</p>
            </div>

            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Business Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="eg. xyz solutions">
                  </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="johndoe@email.com">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="********">
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <input type="confirm-password" class="form-control" id="password" placeholder="********">
                  </div>
                <button id="sign-up-btn" type="submit" class="btn btn-primary">Submit</button>
              </form>
              <p id="sign-in" class="mt-4">Already have an account? <span id="sign-in">Sign in</span></p>
        </div>
    </div>
</div>