<div class="container">
  <div class="sign-up-container d-flex justify-content-between">
    <div
      class="left-section d-flex flex-column justify-content-center align-items-center"
    >
      <div class="left-section-top d-flex flex-column">
        <div class="review-text d-flex align-items-center">
          <div><img src="\assets\sign-up-images\Group.png" alt="" /></div>
          <div>
            <p id="review">Review<span id="nest">Nest</span></p>
          </div>
        </div>
        <h2 id="hero-text">Supercharge Your Business with ReviewNest</h2>
        <p id="hero-paragraph">
          Unlock valuable customer insights and enhance your business's
          performance by joining our exclusive feedback service. Connect with
          your customers like never before.
        </p>
      </div>
      <div class="left-section-bottom d-flex flex-column">
        <div class="rectangle-1 d-flex">
          <div class="profile-img">
            <img src="\assets\sign-up-images\Ellipse 4.png" alt="" />
          </div>
          <div
            class="thin-lines-1 d-flex flex-column justify-content-center align-items-start"
          >
            <div class="thin-line-1"></div>
            <div class="thin-line-2"></div>
          </div>
        </div>
        <div class="rectangle-2 d-flex flex-column">
          <div
            class="thin-lines-2 d-flex flex-column justify-content-center align-items-start"
          >
            <div class="thin-line-3"></div>
            <div class="thin-line-4"></div>
          </div>
          <div class="d-flex">
            <div class="profile-img">
              <img src="\assets\sign-up-images\profile-2.png" alt="" />
            </div>
            <div
              class="thin-lines-1 d-flex flex-column justify-content-center align-items-start"
            >
              <div class="thin-line-1"></div>
              <div class="thin-line-2"></div>
            </div>
            <div class="stars">
              <img src="\assets\sign-up-images\stars.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section d-flex flex-column">
      <div class="header-section">
        <h3 id="get-started">Get Started</h3>
        <p id="sign-up-text">Enter your details let’s get you signed up.</p>
      </div>

      <form #usersForm="ngForm" (ngSubmit)="onUsersCreate(usersForm.value)">
        <div class="">
          <label for="name" class="form-label">Business Name</label>
          <input
            #name="ngModel"
            required
            minlength="1"
            type="text"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
            placeholder="eg. xyz solutions"
            name="pName"
            ngModel
            required=""
          />
          <div *ngIf="name.touched && name.invalid" class="alert">
            Business Name cannot be empty!
          </div>
        </div>
        <div class="">
          <label for="email" class="form-label">Email address</label>
          <input
            #email="ngModel"
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="johndoe@email.com"
            name="pEmail"
            ngModel
            required=""
          />
          <div *ngIf="name.touched && name.invalid" class="alert">
            Email cannot be empty!
          </div>
        </div>
        <div class="">
          <label for="password" class="form-label">Password</label>
          <input
            #password="ngModel"
            type="password"
            class="form-control"
            id="password"
            placeholder="********"
            name="pPassword"
            ngModel
            required=""
          />
          <div *ngIf="name.touched && name.invalid" class="alert">
            Password cannot be empty!
          </div>
        </div>
        <div class="">
          <label for="confirm-password" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            placeholder="********"
            name="pConfirmPassword"
            ngModel
            required=""
          />
        </div>

        <button
          id="sign-up-btn"
          type="submit"
          class="btn btn-primary"
          routerLink="/dashboard"
        >
          Create Account
        </button>
        <div *ngIf="usersForm.hasError('passwordMismatch')">
          Passwords do not match.
        </div>
      </form>

      <p id="sign-in" class="mt-4">
        Already have an account?
        <a href="" routerLink="/sign-in"><span id="sign-in">Sign in</span></a>
      </p>
    </div>
  </div>
</div>
