<div class="container">
  <div class="sign-up-container d-flex justify-content-between">
    <div
      class="left-section d-flex flex-column justify-content-center align-items-center"
    >
      <div class="left-section-top d-flex flex-column">
        <a href="#" class="review-logo" routerLink="">
          <div class="review-text d-flex align-items-center">
            <div><img src="\assets\sign-up-images\Group.png" alt="" /></div>
            <div>
              <p id="review">Review<span id="nest">Nest</span></p>
            </div>
          </div>
        </a>
        <h2 id="hero-text">Supercharge Your Business with ReviewNest</h2>
        <p id="hero-paragraph">
          Unlock valuable customer insights and enhance your business's
          performance by joining our exclusive feedback service. Connect with
          your customers like never before.
        </p>
      </div>
      <div class="left-section-bottom d-flex flex-column">
        <div class="rectangle-1 d-flex">
          <div class="profile-img">
            <img src="\assets\sign-up-images\Ellipse 4.png" alt="" />
          </div>
          <div
            class="thin-lines-1 d-flex flex-column justify-content-center align-items-start"
          >
            <div class="thin-line-1"></div>
            <div class="thin-line-2"></div>
          </div>
        </div>
        <div class="rectangle-2 d-flex flex-column">
          <div
            class="thin-lines-2 d-flex flex-column justify-content-center align-items-start"
          >
            <div class="thin-line-3"></div>
            <div class="thin-line-4"></div>
          </div>
          <div class="d-flex">
            <div class="profile-img">
              <img src="\assets\sign-up-images\profile-2.png" alt="" />
            </div>
            <div
              class="thin-lines-1 d-flex flex-column justify-content-center align-items-start"
            >
              <div class="thin-line-1"></div>
              <div class="thin-line-2"></div>
            </div>
            <div class="stars">
              <img src="\assets\sign-up-images\stars.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section d-flex flex-column">
      <div class="header-section">
        <h3 id="get-started">Get Started</h3>
        <p id="sign-up-text">Enter your details let’s get you signed up.</p>
      </div>

      <form [formGroup]="usersForm" (ngSubmit)="onUsersCreate(usersForm.value)">
        <div class="">
          <label for="name" class="form-label">Business Name</label>
          <input
            required
            minlength="1"
            type="text"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
            placeholder="eg. xyz solutions"
            formControlName="pName"
            required=""
          />
        </div>

        <div class="">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="johndoe@email.com"
            formControlName="pEmail"
            required=""
          />
        </div>
        <div
          *ngIf="
            usersForm.get('pEmail')?.hasError('email') &&
            usersForm.get('pEmail')?.touched
          "
          class="error-message"
        >
          Invalid email format.
        </div>

        <div class="">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="********"
            name="pPassword"
            required=""
            formControlName="pPassword"
          />
          <!-- <button
          type="button"
          class="btn btn-secondary btn-sm mt-2"
          (click)="toggleShowPassword()"
        >
          {{ showPassword ? 'Hide Password' : 'Show Password' }}
        </button> -->
          <div
            *ngIf="
              pPasswordControl?.hasError('minlength') &&
              pPasswordControl?.hasError('noSpecialChar') &&
              pPasswordControl?.touched
            "
            class="error-message"
          >
            Password must be at least 8 characters long and contain at least one
            special character.
          </div>

          <!-- <div *ngIf="name.touched && name.invalid" class="alert">
            Password cannot be empty!
          </div> -->
        </div>
        <div class="">
          <label for="confirm-password" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            placeholder="********"
            formControlName="pConfirmPassword"
            required=""
          />
          <div
            class="error-message"
            *ngIf="usersForm.errors?.['PasswordNoMatch']"
          >
            Password doesn't match.
          </div>
        </div>

        <button type="submit" class="btn sign-up-btn" [disabled]="loading">
          <span *ngIf="!loading">Create Account</span>
          <span
            *ngIf="loading"
            class="spinner-border spinner-btn"
            role="status"
          ></span>
        </button>

        <div
          class="error-msg btn my-1"
          [ngClass]="{ 'fade-out': !successMessageVisible }"
        >
          Missing required fields or email already exist!
          <div class="progress-bar"></div>
        </div>
        <div
          class="success-msg btn"
          [ngClass]="{ 'fade-out': !accountSuccess }"
        >
          User Successfully Registered. Click Sign in to continue
          <div class="progress-bar"></div>
        </div>
      </form>

      <p id="sign-in" class="mt-4">
        Already have an account?
        <a id="sign-in" href="" routerLink="/sign-in"
          ><span id="sign-in">Sign in</span></a
        >
      </p>
    </div>
  </div>

  <!-- <div class="loading-container">
    <iframe
      src="https://lottie.host/?file=3216f451-384a-4b43-bff5-a9dfc0777bea/BSKddAIRIa.json"
    ></iframe>
  </div> -->
</div>
