<app-navbar></app-navbar>

<div class="dashboard d-flex">
  <app-dashboard-nav></app-dashboard-nav>

  <div class="right-content">
    <app-dashboard-nav-right></app-dashboard-nav-right>

    <div class="container">
      <div class="container d-flex mt-4 ms-4 flex-column">
        <h2 class="sub-heading">Reviews Received</h2>
        <table class="table table-bordered mt-3 review-tab">
          <thead class="tab-head">
            <tr>
              <th scope="col" class="col-5">Review</th>
              <th scope="col">Product</th>
              <th scope="col">Rating</th>
              <th scope="col">Details</th>
              <th scope="col">Date and Time</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tab-body">
              <td>
                <h2 class="review-heading">Kemi Deborah</h2>
                <p class="review-text">
                  Absolutely love the unique designs and impeccable...
                </p>
              </td>
              <td><p class="product-name">Suits</p></td>
              <td>
                <div class="rating d-flex align-items-center">
                  <img
                    src="./../../assets/assets(svg)/star-1-11.svg"
                    alt=""
                    class="rate 1"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-2-11.svg"
                    alt=""
                    class="rate 2"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-3-11.svg"
                    alt=""
                    class="rate 3"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-4-11.svg"
                    alt=""
                    class="rate 4"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-5-11.svg"
                    alt=""
                    class="rate 5"
                  />
                </div>
              </td>
              <td>
                <button class="btn display-btn">View Details</button>
              </td>
              <td>
                <div class="date-time">
                  <p class="date-content">17/08/2023</p>
                  <div class="box"></div>
                  <p class="time-content">1:17 am</p>
                </div>
              </td>
            </tr>
            <tr class="tab-body">
              <td>
                <h2 class="review-heading">Chinedu Okonkwo</h2>
                <p class="review-text">
                  Their clothing collections always keep me ahead of the...
                </p>
              </td>
              <td><p class="product-name">Shirts</p></td>
              <td>
                <div class="rating d-flex align-items-center">
                  <img
                    src="./../../assets/assets(svg)/star-1-11.svg"
                    alt=""
                    class="rate 1"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-2-11.svg"
                    alt=""
                    class="rate 2"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-3-11.svg"
                    alt=""
                    class="rate 3"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-4-11.svg"
                    alt=""
                    class="rate 4"
                  />
                  <img
                    src="./../../assets/assets(svg)/Star_empty.svg"
                    alt=""
                    class="rate 5"
                  />
                </div>
              </td>
              <td>
                <button class="btn display-btn">View Details</button>
              </td>
              <td>
                <div class="date-time">
                  <p class="date-content">17/08/2023</p>
                  <div class="box"></div>
                  <p class="time-content">1:17 am</p>
                </div>
              </td>
            </tr>
            <tr class="tab-body">
              <td>
                <h2 class="review-heading">Kemi Deborah</h2>
                <p class="review-text">
                  Absolutely love the unique designs and impeccable...
                </p>
              </td>
              <td><p class="product-name">Suits</p></td>
              <td>
                <div class="rating d-flex align-items-center">
                  <img
                    src="./../../assets/assets(svg)/star-1-11.svg"
                    alt=""
                    class="rate 1"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-2-11.svg"
                    alt=""
                    class="rate 2"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-3-11.svg"
                    alt=""
                    class="rate 3"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-4-11.svg"
                    alt=""
                    class="rate 4"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-5-11.svg"
                    alt=""
                    class="rate 5"
                  />
                </div>
              </td>
              <td>
                <button class="btn display-btn">View Details</button>
              </td>
              <td>
                <div class="date-time">
                  <p class="date-content">17/08/2023</p>
                  <div class="box"></div>
                  <p class="time-content">1:17 am</p>
                </div>
              </td>
            </tr>
            <tr class="tab-body">
              <td>
                <h2 class="review-heading">Chinedu Okonkwo</h2>
                <p class="review-text">
                  Their clothing collections always keep me ahead of the...
                </p>
              </td>
              <td><p class="product-name">Shirts</p></td>
              <td>
                <div class="rating d-flex align-items-center">
                  <img
                    src="./../../assets/assets(svg)/star-1-11.svg"
                    alt=""
                    class="rate 1"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-2-11.svg"
                    alt=""
                    class="rate 2"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-3-11.svg"
                    alt=""
                    class="rate 3"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-4-11.svg"
                    alt=""
                    class="rate 4"
                  />
                  <img
                    src="./../../assets/assets(svg)/Star_empty.svg"
                    alt=""
                    class="rate 5"
                  />
                </div>
              </td>
              <td>
                <button class="btn display-btn">View Details</button>
              </td>
              <td>
                <div class="date-time">
                  <p class="date-content">17/08/2023</p>
                  <div class="box"></div>
                  <p class="time-content">1:17 am</p>
                </div>
              </td>
            </tr>
            <tr class="tab-body">
              <td>
                <h2 class="review-heading">Chinedu Okonkwo</h2>
                <p class="review-text">
                  Their clothing collections always keep me ahead of the...
                </p>
              </td>
              <td><p class="product-name">Shirts</p></td>
              <td>
                <div class="rating d-flex align-items-center">
                  <img
                    src="./../../assets/assets(svg)/star-1-11.svg"
                    alt=""
                    class="rate 1"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-2-11.svg"
                    alt=""
                    class="rate 2"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-3-11.svg"
                    alt=""
                    class="rate 3"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-4-11.svg"
                    alt=""
                    class="rate 4"
                  />
                  <img
                    src="./../../assets/assets(svg)/Star_empty.svg"
                    alt=""
                    class="rate 5"
                  />
                </div>
              </td>
              <td>
                <button class="btn display-btn">View Details</button>
              </td>
              <td>
                <div class="date-time">
                  <p class="date-content">17/08/2023</p>
                  <div class="box"></div>
                  <p class="time-content">1:17 am</p>
                </div>
              </td>
            </tr>
            <tr class="tab-body">
              <td>
                <h2 class="review-heading">Chinedu Okonkwo</h2>
                <p class="review-text">
                  Their clothing collections always keep me ahead of the...
                </p>
              </td>
              <td class="d-flex align-items-center h-100">
                <p class="product-name">Shirts</p>
              </td>
              <td>
                <div class="rating d-flex align-items-center">
                  <img
                    src="./../../assets/assets(svg)/star-1-11.svg"
                    alt=""
                    class="rate 1"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-2-11.svg"
                    alt=""
                    class="rate 2"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-3-11.svg"
                    alt=""
                    class="rate 3"
                  />
                  <img
                    src="./../../assets/assets(svg)/star-4-11.svg"
                    alt=""
                    class="rate 4"
                  />
                  <img
                    src="./../../assets/assets(svg)/Star_empty.svg"
                    alt=""
                    class="rate 5"
                  />
                </div>
              </td>
              <td>
                <button class="btn display-btn">View Details</button>
              </td>
              <td>
                <div class="date-time">
                  <p class="date-content">17/08/2023</p>
                  <div class="box"></div>
                  <p class="time-content">1:17 am</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="scroll-nav">
          <div
            class="scroll-content d-flex align-items-center justify-content-center gap-2"
          >
            <img
              src="./../../assets/dashboard/arrow-left.svg"
              alt=""
              class="arrow-btn"
            />
            <p class="page-number">1</p>
            <p class="page-number">2</p>
            <p class="page-number active">3</p>
            <div class="box mx-1"></div>
            <div class="box mx-1"></div>
            <div class="box mx-1"></div>
            <p class="page-number">8</p>
            <p class="page-number">9</p>
            <p class="page-number">10</p>
            <img
              src="./../../assets/dashboard/arrow-right.svg"
              alt=""
              class="arrow-btn"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
