.dashboard {
  overflow: hidden;
}

app-navbar {
  display: none;
}

@media screen and (max-width: 980px) {
  app-dashboard-nav {
    display: none;
  }

  app-dashboard-nav-right {
    display: none;
  }

  app-navbar {
    display: block;
  }
}
