@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap");

.dashboard {
  overflow: hidden;
}

.table-container {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;
}

.sub-heading {
  color: #011055;
  font-family: "Palanquin Dark";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.review-tab {
  width: 920px;
  color: #010b39;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.rate {
  height: 18px;
  width: auto;
}

thead tr {
  border-radius: 8px 8px 0px 0px;
}

thead th {
  border-bottom: 1px solid #ccc;
  background: #ebebeb;
}

.tab-body {
  padding: 12px 16px;
}

.review-heading {
  color: #020202;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.review-text {
  color: #323232;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.right-content {
  overflow: hidden;
}

.display-btn {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #d2d2d2;
}

.date-time {
  display: flex;
  align-items: center;
  gap: 8px;
}

.date-content {
  color: #545454;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.box {
  width: 96%;
  margin: 0 4%;
}

.time-content {
  color: #545454;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.scroll-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.scroll-content {
  width: 330px;
  height: 36px;
}

.page-number {
  display: inline-flex;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #565656;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.active {
  display: inline-flex;
  color: #ffffff;
  padding: 8px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #2b3871;
}

app-navbar-das {
  display: none;
}

.star {
  display: inline-block;
  width: 18px; /* Adjust the width and height as needed */
  height: 18px;
  background-image: url("./../../assets/assets(svg)/Star_empty.svg"); /* Set the path to your unfilled star image */
  background-size: cover;
}

.star.filled {
  background-image: url("./../../assets/assets(svg)/star-4-11.svg"); /* Set the path to your filled star image */
}

.details {
  position: absolute;
  display: flex;
  width: 579px;
  padding: 30px 26px;
  font-family: Open Sans;
  flex-direction: column;
  align-items: flex-start;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.close-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e7e7e7;
}

.close-img {
  width: 20px;
  height: 20px;
}

.details-box::before {
  content: "";
  position: absolute;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  transition: opacity 0.3s;
  opacity: 0;
}

.details-box.active::before {
  opacity: 1;
}

.product-name-box {
  color: #323232;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.prod_span {
  color: #020202;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.btn-up {
  background-color: #fdba21;
  font-family: Open Sans;
  color: #000311;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  transition: transform 0.3s ease-in-out;
}

.btn-up:hover {
  transform: scale(1.05);
  outline: 2px solid #fdba21;
  outline-offset: 2px;
}

.btn-wrapper {
  width: 70%;
  padding: 0;
  margin: 10px auto 0 auto;
}

.spinner-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: flex;
}

.spinner-item.load {
  display: flex;
}

.right-content {
  height: 100vh;
}

@media screen and (max-width: 980px) {
  app-dashboard-nav {
    display: none;
  }

  app-dashboard-nav-right {
    display: none;
  }

  app-navbar-das {
    display: block;
  }

  .table-container {
    overflow-x: scroll;
    width: 45%;
  }

  .scroll-nav {
    width: 100vw;
  }

  .details {
    width: 90%;
    margin: 0 auto;
  }
}
