<div class="dash-nav">
  <div class="d-flex flex-column navbar-dashboard">
    <div class="d-flex logo-div">
      <app-logo></app-logo>
    </div>
    <div class="d-inline-flex flex-column dash-nav-items">
      <div class="nav-items-nav d-flex flex-column">
        <div class="dash-nav-item d-flex align-items-center">
          <img
            src="./../../assets/dashboard/category.svg"
            alt="Dashboard"
            class="nav-icon"
          />
          <a href="#" class="dash-text" [routerLink]="'/dashboard-home'"
            >Dashboard</a
          >
        </div>
        <div class="dash-nav-item d-flex align-items-center">
          <img
            src="./../../assets/dashboard/message-text.svg"
            alt="Dashboard"
            class="nav-icon"
          />
          <a href="#" class="dash-text" [routerLink]="'/review'">Review</a>
        </div>
        <div class="dash-nav-item d-flex align-items-center">
          <img
            src="./../../assets/dashboard/document-text.svg"
            alt="Dashboard"
            class="nav-icon"
          />
          <a href="#" class="dash-text" [routerLink]="'/form-creation'"
            >Form Creation</a
          >
        </div>
        <div class="dash-nav-item d-flex align-items-center">
          <img
            src="./../../assets/dashboard/user-square.svg"
            alt="Dashboard"
            class="nav-icon"
          />
          <a href="#" class="dash-text" [routerLink]="'/profile'">Profile</a>
        </div>
      </div>

      <div class="logout-container">
        <div class="dash-nav-item d-flex align-items-center">
          <img
            src="./../../assets/dashboard/logout.svg"
            alt="Dashboard"
            class="nav-icon"
          />
          <a href="#" class="dash-text" [routerLink]="'/sign-in'">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
