.dash-nav {
  background: #010b39;
  width: 330px;
  min-height: 100vh;
  font-family: "Open Sans", Helvetica;
  overflow: hidden;
}

.navbar-dashboard {
  padding: 56px 32px 0 32px;
  height: 900px;
}

.logo-div {
  margin-bottom: 60px;
}

.dash-nav-items {
  align-items: flex-start;
  gap: 156px;
}

.nav-items-nav {
  gap: 24px;
}

.dash-nav-item {
  display: flex;
  width: 256px;
  padding: 16px 24px;
  align-items: center;
  gap: 24px;
}

.dash-text {
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  font-family: "Open Sans", Helvetica;
}

.active {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
}
