<div class="dash-nav">
  <div class="d-flex flex-column navbar-dashboard">
    <div class="d-flex logo-div">
      <a id="logo" href="" routerLink="/"><app-logo></app-logo></a>
    </div>
    <div class="d-inline-flex flex-column dash-nav-items">
      <div class="nav-items-nav d-flex flex-column">
        <div
          class="dash-nav-item d-flex align-items-center"
          routerLinkActive="active"
        >
          <a
            href="#"
            class="dash-text d-flex align-items-center"
            [routerLink]="'/dashboard'"
          >
            <img
              src="./../../assets/dashboard/category.svg"
              alt="Dashboard"
              class="nav-icon"
            />
            Dashboard</a
          >
        </div>
        <div
          class="dash-nav-item d-flex align-items-center"
          routerLinkActive="active"
        >
          <a
            href="#"
            class="dash-text d-flex align-items-center"
            [routerLink]="'/review'"
          >
            <img
              src="./../../assets/dashboard/message-text.svg"
              alt="Reviews"
              class="nav-icon"
            />
            Review</a
          >
        </div>

        <div
          class="dash-nav-item d-flex align-items-center"
          routerLinkActive="active"
        >
          <a
            href="#"
            class="dash-text d-flex align-items-center"
            [routerLink]="'/profile'"
          >
            <img
              src="./../../assets/dashboard/user-square.svg"
              alt="Profile"
              class="nav-icon"
            />Profile</a
          >
        </div>
      </div>

      <div class="logout-container">
        <div
          class="dash-nav-item d-flex align-items-center"
          routerLinkActive="active"
        >
          <a
            href="#"
            class="dash-text d-flex align-items-center"
            [routerLink]="'/sign-in'"
          >
            <img
              src="./../../assets/dashboard/logout.svg"
              alt="Logout"
              class="nav-icon"
            />
            Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
