a#logo {
  text-decoration: none;
}

.dash-nav {
  background: #010b39;
  width: 275px;
  height: 106%;
  font-family: "Open Sans", Helvetica;
}

.navbar-dashboard {
  padding: 56px 25px 0 25px;
  height: fit-content;
}

.logo-div {
  margin-bottom: 60px;
}

.dash-nav-items {
  align-items: flex-start;
}

.logout-container {
  margin-top: 250px;
}

.nav-items-nav {
  gap: 24px;
}

.dash-nav-item {
  display: flex;
  width: 230px;
  padding: 16px 24px;
  align-items: center;
  gap: 24px;
}

.dash-text {
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  font-family: "Open Sans", Helvetica;
}

.nav-icon {
  margin-right: 24px;
}

.active {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
}
