<app-navbar-das></app-navbar-das>

<div class="dashboard d-flex">
  <app-dashboard-nav></app-dashboard-nav>

  <div class="right-content">
    <app-dashboard-nav-right></app-dashboard-nav-right>

    <div class="cover-img">
      <div class="cover-change d-flex">
        <div class="camera-icon me-1">
          <img
            src="./../../assets/dashboard/basil_camera-outline copy.svg"
            alt="Camera icon"
            class="cam-img"
          />
        </div>
        <p class="para">Change Cover</p>
      </div>
    </div>
    <div class="container">
      <div
        class="d-flex justify-content-between align-items-center contact-wrapper"
      >
        <div class="brand-dis">
          <div
            class="logo-details d-flex flex-column justify-content-center align-items-center"
          >
            <div class="logo-content">
              <img
                src="./../../assets/dashboard/com img.svg"
                alt=""
                class="logo-img"
              />
              <img
                src="./../../assets/dashboard/basil_camera-outline.svg"
                alt=""
                class="orange-cam"
              />
            </div>
            <div class="com-logo-text mt-2 text-center">
              <p class="logo-text mb-1">Suittie</p>
              <div class="online-status gap-2 text-center d-flex">
                <img
                  src="./../../assets/dashboard/green-active.svg"
                  alt=""
                  class="active-logo"
                />
                <p class="active-now">Active now</p>
              </div>
            </div>
          </div>
          <div class="des-wrapper">
            <p class="sub-heading">Description</p>
            <p class="info">{{ userInput$ }}</p>
          </div>
          <div class="des-wrapper">
            <p class="sub-heading">Category</p>
            <p class="info">Fashion Brand</p>
          </div>
        </div>
        <div class="right">
          <div class="brand-profile">
            <p class="heading">Contact Information</p>
            <div class="des-wrapper">
              <p class="sub-heading">Email address</p>
              <p class="info">suittie@gmail.com</p>
            </div>
            <div class="des-wrapper">
              <p class="sub-heading">Physical address</p>
              <p class="info">#30 Cetenary City, Golf Estate, Enugu State</p>
            </div>
            <div class="des-wrapper">
              <p class="sub-heading">Email Address</p>
              <p class="info">suittie@gmail.com</p>
            </div>
            <div class="des-wrapper">
              <p class="sub-heading">Phone number</p>
              <p class="info">09065875373, 08167548276</p>
            </div>
            <div class="des-wrapper">
              <p class="sub-heading mb-2">Social media</p>
              <a href="#" class="social-links"
                ><img
                  src="./../../assets/dashboard/skill-icons_linkedin.svg"
                  alt=""
              /></a>
              <a href="#" class="social-links"
                ><img
                  src="./../../assets/dashboard/skill-icons_instagram.svg"
                  alt=""
              /></a>
              <a href="#" class="social-links"
                ><img
                  src="./../../assets/dashboard/fa6-brands_square-threads.svg"
                  alt=""
              /></a>
              <a href="#" class="social-links"
                ><img
                  src="./../../assets/dashboard/skill-icons_twitter.svg"
                  alt=""
              /></a>
              <a href="#" class="social-links"
                ><img src="./../../assets/dashboard/logos_facebook.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="container btn-wrapper">
        <button class="btn btn-up mt-3" (click)="showEditProfilePage = true">
          Edit Profile
        </button>
      </div>
    </div>

    <app-edit-profile *ngIf="showEditProfilePage"></app-edit-profile>
  </div>
</div>
