<div class="dashboard d-flex">
  <app-dashboard-nav></app-dashboard-nav>

  <div class="right-content">
    <app-dashboard-nav-right></app-dashboard-nav-right>

    <div class="d-flex flex-column content">
      <div class="dashboard-header mb-5">
        <h3 id="dashboard-head">Your Dashboard</h3>
        <p id="dashboard-para">Track and manage your received responses.</p>
      </div>

      <div class="carousel-container">
        <div class="carousel-wrapper d-flex">
          <div id="total-response" class="carousel-slide d-flex flex-column">
            <div class="d-flex carousel-header">
              <div class="header-icon"><img src="\assets\dashboard\received.png" alt=""></div>
              <div class="header-text"><p class="header-text">Total Responses</p></div>
            </div>
            <div class="number-count">
              XXX
            </div>
            <div class="this-month"><p class="this-month">This Month</p></div>
          </div>

          <div id="forms-dispatched" class="carousel-slide d-flex flex-column">
            <div class="d-flex carousel-header">
              <div class="header-icon"><img src="\assets\dashboard\send.png" alt=""></div>
              <div class="header-text"><p class="header-text">Forms Dispatched</p></div>
            </div>
            <div class="number-count">
              XXX
            </div>
            <div class="this-month"><p class="this-month">This Month</p></div>
          </div>

          <div id="response-rate" class="carousel-slide d-flex flex-column">
            <div class="d-flex carousel-header">
              <div class="header-icon"><img src="\assets\dashboard\reviews.png" alt=""></div>
              <div class="header-text"><p class="header-text">Response Rate</p></div>
            </div>
            <div class="number-count">
              XXX
            </div>
            <div class="this-month"><p class="this-month">This Month</p></div>
          </div>

          <div id="overall-performance" class="carousel-slide d-flex flex-column">
              <div class="carousel-header"><p class="header-text">YOUR OVERALL PERFORMANCE</p></div>

            <div class="">
              <p id="performance">Great</p>
            </div>
         

            <div class="ratings d-flex">
              <div class="star"><img src="\assets\dashboard\Star 8.png" alt=""></div>
              <div class="star"><img src="\assets\dashboard\Star 8.png" alt=""></div>
              <div class="star"><img src="\assets\dashboard\Star 8.png" alt=""></div>
              <div class="star"><img src="\assets\dashboard\Star 8.png" alt=""></div>
              <div class="star"><img src="\assets\dashboard\Star 8.png" alt=""></div>
            </div>

            <div class="based-on"><p class="based-on">Based on your reviews</p></div>
          </div>


          <!-- <div class="carousel-slide">XXX</div>
          <div class="carousel-slide">XXX</div>
          <div class="carousel-slide">XXX</div> -->
        </div>
      </div>


      <div class="statistics d-flex">

        <div class="graph d-flex flex-column">
          <div class="graph-header d-flex justify-content-between">
            <div><p id="review-report">Review Report</p></div>
            <div id="filter"><p id="filter">Filter: Monthly</p></div>
          </div>
        </div>

        <div class="pie-chart-container d-flex flex-column">
          <div class="pie-chart-header">
            <p id="pie-chart-header">Distribution of Stars</p>
          </div>
          <div class="chart-and-desc d-flex">
            <div class="chart">ddds</div>
            <div class="desc d-flex flex-column">
              <div class="d-flex">
                <div><img src="\assets\dashboard\Ellipse 90.png" alt=""></div>
                <div><p class="review-text">5 star reviews</p></div>
                <div class="percentage">()</div>
              </div>
              <div class="d-flex">
                <div><img src="\assets\dashboard\Ellipse 90.png" alt=""></div>
                <div><p class="review-text">5 star reviews</p></div>
                <div class="percentage">()</div>
              </div>
              <div class="d-flex">
                <div><img src="\assets\dashboard\Ellipse 90.png" alt=""></div>
                <div><p class="review-text">5 star reviews</p></div>
                <div class="percentage">()</div>
              </div>
              <div class="d-flex">
                <div><img src="\assets\dashboard\Ellipse 90.png" alt=""></div>
                <div><p class="review-text">5 star reviews</p></div>
                <div class="percentage">()</div>
              </div>
              <div class="d-flex">
                <div><img src="\assets\dashboard\Ellipse 90.png" alt=""></div>
                <div><p class="review-text">5 star reviews</p></div>
                <div class="percentage">()</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
