<app-navbar-das></app-navbar-das>

<div class="dashboard d-flex">
  <app-dashboard-nav></app-dashboard-nav>

  <div class="right-content">
    <app-dashboard-nav-right></app-dashboard-nav-right>

    <div class="d-flex flex-column content">
      <div class="dashboard-header mb-5">
        <h3 id="dashboard-head">Your Dashboard</h3>
        <p id="dashboard-para">Track and manage your received responses.</p>
      </div>

      <div class="carousel-container">
        <div class="carousel-wrapper d-flex">
          <div id="total-response" class="carousel-slide d-flex flex-column">
            <div class="d-flex carousel-header">
              <div class="header-icon">
                <img src="\assets\dashboard\received.png" alt="" />
              </div>
              <div class="header-text">
                <p class="header-text">Total Responses</p>
              </div>
            </div>
            <div class="number-count">{{ totalReviews }}</div>
            <div class="this-month"><p class="this-month">This Month</p></div>
          </div>


        
          
          <div
            id="overall-performance"
            class="carousel-slide d-flex flex-column"
          >
            <div class="carousel-header">
              <p class="header-text">YOUR OVERALL PERFORMANCE</p>
            </div>

            <div class="">
              <p id="performance">{{performanceText}}</p>
            </div>

                <div class="stars d-flex">
                  <div 
                  *ngFor="let star of [1, 2, 3, 4, 5]" 
                  class="ratings d-flex"
                  >
                      <img [src]="
                        star <= pRating
                        ? '/assets/dashboard/Star 5.png'
                        : '/assets/dashboard/Star 8.png'
                      " 
                      alt="">
                </div>
            </div>

            <div class="based-on">
              <p class="based-on">Based on your reviews</p>
            </div>
          </div>

        </div>
      </div>

      <div class="statistics d-flex">
        <div class="graph d-flex flex-column">
          <div class="graph-header d-flex justify-content-between">
            <div><p id="review-report">Review Report</p></div>
            <div id="filter"><p id="filter">Filter: Monthly</p></div>
          </div>
          <div class="graph-data"></div>
        </div>

        <div class="pie-chart-container d-flex flex-column">
          <div class="pie-chart-header">
            <p id="pie-chart-header">Distribution of Stars</p>
          </div>
          <div class="chart-and-desc d-flex">
            <div class="chart"><app-pie-chart></app-pie-chart></div>

            <div class="desc d-flex flex-column">
              <div class="d-flex percentages">
                <div><img src="\assets\dashboard\Ellipse 90.png" alt="" /></div>
                <div><p class="review-text">5-star reviews</p></div>
                <div class="percentage">{{ percentage5 }}%</div>
              </div>
              <div class="d-flex percentages">
                <div><img src="\assets\dashboard\yellow.png" alt="" /></div>
                <div><p class="review-text">4-star reviews</p></div>
                <div class="percentage">{{ percentage4 }}%</div>
              </div>
              <div class="d-flex percentages">
                <div><img src="\assets\dashboard\orange.png" alt="" /></div>
                <div><p class="review-text">3-star reviews</p></div>
                <div class="percentage">{{ percentage3 }}%</div>
              </div>
              <div class="d-flex percentages">
                <div><img src="\assets\dashboard\red.png" alt="" /></div>
                <div><p class="review-text">2-star reviews</p></div>
                <div class="percentage">{{ percentage2 }}%</div>
              </div>
              <div class="d-flex percentages">
                <div><img src="\assets\dashboard\pink.png" alt="" /></div>
                <div><p class="review-text">1-star reviews</p></div>
                <div class="percentage">{{ percentage1 }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="loading-container" *ngIf="isLoading">
        <iframe
          src="https://lottie.host/?file=3216f451-384a-4b43-bff5-a9dfc0777bea/BSKddAIRIa.json"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<!-- <app-pie-chart style="width: 50%; height: 100px;"></app-pie-chart> -->
