<div class="submission d-flex flex-column">
    <div id="close" (click)="closeSubmission()"><img src="\assets\dashboard\close.png" alt=""></div>
    <div class="check">
        <img src="\assets\assets(png)\check-one.png" alt="">
    </div>
    <div class="submission-text">
        <p id="submission">Submission Successful!</p>
        <p id="feedback">Your feedback have been successfully sent to Suittie Fashion Brand.</p>
    </div>
    <button id="back"><a id="back-btn" href="" routerLink="/">Back to Home</a></button>

  
</div>